.banner {
    background-color: #1A1A1A;
    color: #FFFFFF;
    padding: 51.5px;
    text-align: left;
    font-family: Arial;
    font-size: xx-large;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 51px;
  }
  